@font-face {
    font-family: 'IranSans';
    src: url('../font/IranSans.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'IranSans';
    src: url('../font/IranSansBold.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'BYekan';
    src: url('../font/BYekan.woff') format('woff');
    font-weight: normal;
}
html, body {
    height: 100%;

    font-family: BYekan;
}

.my_ico{
    font-size: 10em !important;
    border-bottom: 1px dashed;
    padding-bottom: 34px;
}
.icon_row{
    padding-top: 10%;
    color: #ececec;
}
body{
    background: #9aca3c;
}
.user_ico div:first-child{
    padding-top: 30%;
    padding-bottom: 30%;
}
.user_login_ico_base{
    width: 200px !important;
    padding-top: 10%;
    margin-right: -11%;
}
.user_login_ico_log{
    width: 200px !important;
    padding-top: 10%;
    margin-right: 19%;
}
.frm_ls{
    height: 201px;
    background: white;
    padding-right: 50px !important;
    padding-top: 13px;
}
.modal-content{

}
.sub_log{
    margin-right: 245px;
    margin-top: -89px;
}
.pass_in{
    padding-top: -10px;
}
.modal{
    height: 241px;
    overflow: hidden !important;
}
.main_body{
    padding: 0 !important;
}
.main_active{
    background: white;
}
th, td{
    text-align: center !important;
}
td{
    border: 1px dashed !important;
}
th{
    border: 1px solid !important;
}
.table_row{
    padding:40px !important;
}
thead{
    background: #e4e4e4;
}
table{
    direction: rtl !important;
}
form{
    direction: rtl !important;
}
.table_row{
    height: 650px;
    overflow-x: hidden;
}
.pagination{
    text-align: center;
}
#input_num{
    width: 20px;
}