@font-face {
    font-family: 'IranSans';
    src: url('../font/IranSans.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'IranSans';
    src: url('../font/IranSansBold.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'BYekan';
    src: url('../font/BYekan.woff') format('woff');
    font-weight: normal;
}
html, body {
    height: 100%;
    direction: rtl;
    font-family: BYekan;
}

.my_ico{
    font-size: 10em !important;
}
.icon_row{
    padding-top: 10%;
    color: #ececec;
}
body{
    background: #9aca3c;
}