@font-face {
    font-family: 'IranSans';
    src: url('../font/IranSans.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'IranSans';
    src: url('../font/IranSansBold.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'BYekan';
    src: url('../font/BYekan.woff') format('woff');
    font-weight: normal;
}
html, body {
    height: 100%;
    direction: rtl;
    font-family: BYekan;
}

.my_ico{
    font-size: 10em !important;
    border-bottom: 1px dashed;
    padding-bottom: 34px;
}
.icon_row{
    padding-top: 10%;
    color: #ececec;
}
body{
    background: #9aca3c;
}
.user_ico div:first-child{
    padding-top: 30%;
    padding-bottom: 30%;
}
.user_login_ico_base{
    width: 200px !important;
    padding-top: 10%;
    margin-right: -11%;
}
.user_login_ico_log{
    width: 200px !important;
    padding-top: 10%;
    margin-right: 19%;
}
.frm_ls{
    height: 201px;
    background: white;
    padding-right: 50px !important;
    padding-top: 13px;
}
.modal-content{

}
.sub_log{
    margin-right: 245px;
    margin-top: -89px;
}
.pass_in{
    padding-top: -10px;
}
.modal{
    height: 241px;
    overflow: hidden !important;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}